@model ZillaMvc.Models.LayoutModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IOC Lite - @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/app.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/fontawesome/font-awesome.min.css")" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">IOC Lite</a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @foreach (var link in Model.Consoles)
                {
                    <li>
                        <a href="@Url.Action("Console","Home", new { id = link.Id })">
                            @link.Name
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
